h1 { 
  font-family: 'Dosis', sans-serif;

  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  
  margin-bottom: 16px;
  color: #3F3D56
}

main {
  margin-top: 59px;
  margin-bottom: 69px;
}
  

h1 span { 
  color: #EE24FF;
  font-weight: bold;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-top: 64px;
  margin-left: 199px;
  margin-right: 199px;
  margin-bottom: 240px;
}

p {
  color: #828282;
}

p strong, a {
 color: #3F3D56;
}

p span {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold
}

img { 
  align-items: center;
  
}
  
  ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 42px;
}

#footer { 
  margin-top: 614px;
  align-items: center;
  margin-top: 69px;
  margin-left: 199px;
  margin-right: 199px;
  margin-bottom: 240px;
}